@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-slate-900 font-sans;
}

button,
input:where(:not([type])),
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
	@apply rounded-lg;
}

button {
	@apply active:scale-95 transition-all duration-300 cursor-pointer;
}

.page {
	min-height: calc(100vh - 20px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
}
