@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-100 font-sans text-gray-900;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
textarea,
select {
	@apply block w-full appearance-none rounded-lg border border-gray-400 bg-white px-3 py-2.5  transition placeholder:text-gray-400 hover:border-sky-400 focus:border-sky-400 focus:outline-none focus:ring-1 focus:ring-sky-400;
}

button {
	@apply cursor-pointer;
}
.click {
	@apply transition duration-300 active:scale-95;
}

table {
	@apply w-full table-auto;
}
table thead th {
	@apply border-b border-gray-100 p-3 text-left text-sm font-semibold text-gray-600;
}
table tbody tr {
	@apply even:bg-gray-50 hover:bg-gray-100;
}
table tbody td {
	@apply p-3 text-sm first:rounded-l-lg last:rounded-r-lg;
}

.page {
	min-height: calc(100vh - 24px);
	@apply h-full w-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
}

.hovered,
.hovered svg {
	@apply relative z-20 block cursor-pointer outline-none;
}
.hovered:after {
	content: '';
	@apply absolute inset-0 -z-0 m-auto h-10 w-10 rounded-full bg-gray-100 opacity-0;
	left: -11px;
	right: -11px;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.hovered:hover:after {
	@apply z-0 scale-100 opacity-100;
}

h1 {
	@apply text-2xl font-semibold capitalize;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	100% {
		opacity: 1;
	}
	0% {
		opacity: 0;
	}
}

@media (prefers-reduced-motion: no-preference) {
	:root::view-transition-old(root) {
		animation: 300ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
	}

	:root::view-transition-new(root) {
		animation: 300ms cubic-bezier(0, 0, 0.2, 1) 90ms both fadeIn;
	}
}

.scrollbar::-webkit-scrollbar-track {
	@apply rounded-lg bg-gray-100;
}

.scrollbar::-webkit-scrollbar {
	@apply w-1 bg-gray-100;
}

.scrollbar::-webkit-scrollbar-thumb {
	@apply rounded-lg bg-gray-200;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
	@apply bg-gray-300;
}

/* Tagify Theme */
.tagify.tagifyTheme {
	@apply inline-flex items-center gap-2 border-0;
}

.tagifyTheme .tagify__tag {
	margin-top: 0;
}

.tagifyTheme .tagify__tag__removeBtn {
	opacity: 0;
	transform: translateX(-6px) scale(0.5);
	margin-left: -3ch;
	transition: 0.12s;
}

.tagifyTheme .tagify__tag:hover .tagify__tag__removeBtn {
	transform: none;
	opacity: 1;
	margin-left: -1ch;
}

.tagify.tagifyTheme .tagify__input {
	@apply m-0 block min-w-12 appearance-none rounded-lg border border-gray-400 bg-white px-3 py-3 transition placeholder:text-gray-400 hover:border-sky-400;
}

.tagify.tagifyTheme.tagify--focus .tagify__input {
	@apply min-w-28;
}
.tagify.tagifyTheme .tagify__tag {
	@apply m-0;
}

.tagify.tagifyTheme .tagify__tag-text {
	@apply select-none;
}
.tagify.tagifyTheme .tagify__tag {
	@apply flex items-center gap-1 rounded-lg bg-gray-200 text-base;
}
.tagify.tagifyTheme .tagify__tag__removeBtn {
	@apply -ml-6;
}
.tagify.tagifyTheme .tagify__tag > div::before,
.tagify.tagifyTheme .tagify__tag__removeBtn:hover + div::before {
	box-shadow: none !important;
}

.tagify.tagifyTheme .tagify__tag__removeBtn:hover + div::before {
	@apply m-0.5 rounded-lg bg-red-300;
}

.tagify__dropdown.tags-dropdown {
	@apply border-0;
}

.tagify__dropdown.tags-dropdown > div {
	@apply rounded-lg p-2;
}

.tagify__dropdown.tags-dropdown .tagify__dropdown__item {
	@apply rounded-md;
}

.tagify__dropdown.tags-dropdown .tagify__dropdown__item.tagify__dropdown__item--active {
	@apply bg-amber-100 text-gray-800;
}

.svelte-select {
	@apply relative m-0 box-border flex h-10 w-full items-center rounded border bg-white px-4 py-0 hover:border-gray-400;
}

.svelte-select input {
	@apply absolute left-0 m-0 h-10 w-full cursor-default border-0 bg-transparent px-4 py-0 text-sm leading-10 text-gray-600 focus:outline-none;
}
.svelte-select [type='text']:focus {
	box-shadow: 0 0 #fff;
}

.svelte-select.focused {
	@apply border-sky-400;
}

.svelte-select.disabled {
	@apply border-gray-200 bg-gray-200 text-gray-600;
}

.svelte-select.disabled input {
	@apply placeholder:text-gray-400 placeholder:opacity-100;
}

.svelte-select .selected-item {
	@apply overflow-x-hidden focus:outline-none;
}

.svelte-select .icons {
	@apply pointer-events-none absolute bottom-0 right-0 top-0 flex translate-y-0 items-center text-gray-200;
}

.svelte-select .icons > * {
	@apply transition-colors duration-200 ease-in-out;
}

.svelte-select .clear-select {
	@apply pointer-events-auto;
}

.svelte-select.focused .icons,
.svelte-select .chevron:hover,
.svelte-select .clear-select:hover {
	@apply text-gray-600;
}

.svelte-select.focused {
	@apply border-sky-400 !important;
}

.svelte-select .clear-select {
	@apply h-5 w-9 flex-none px-2 text-gray-300;
}

.svelte-select .chevron {
	@apply flex h-5 w-9 border-l-2 pl-2 pr-2 pt-0 text-gray-300;
}

.svelte-select.multi {
	@apply h-auto flex-wrap items-stretch pl-4 pr-9;
}

.svelte-select.multi input {
	@apply relative m-0 p-0;
}

.svelte-select.error {
	@apply border-red-500 bg-white;
}

.a11y-text {
	@apply sr-only;
}

.svelte-select-list::-webkit-scrollbar-track {
	@apply rounded-lg bg-gray-100;
}

.svelte-select-list::-webkit-scrollbar {
	@apply w-1 bg-gray-100;
}

.svelte-select-list::-webkit-scrollbar-thumb {
	@apply rounded-lg bg-gray-200;
}

.svelte-select-list:hover::-webkit-scrollbar-thumb {
	@apply bg-gray-300;
}

.list {
	@apply absolute left-0 right-0 z-10 max-h-64 w-full overflow-y-auto rounded-sm border-none bg-white shadow-md;
}

.list .list-group-title {
	@apply h-10 cursor-default overflow-ellipsis whitespace-nowrap px-5 text-sm font-medium uppercase leading-10 text-gray-400;
}

.list .empty {
	@apply py-5 text-center text-gray-500;
}

.item {
	@apply h-10 cursor-default overflow-hidden overflow-ellipsis whitespace-nowrap px-5 text-sm leading-10 text-gray-800;
}

.item.group-item {
	@apply px-10;
}

.item.active {
	@apply bg-sky-200 text-gray-900 !important;
}

.item.not-selectable {
	@apply text-gray-300;
}

.item.first {
	@apply rounded-t-sm;
}

.item.hover:not(.active) {
	@apply bg-transparent;
}

.multi input {
	flex: 1 1 40px;
}

.multi-item {
	@apply mr-1 mt-1 flex h-8 max-w-full cursor-default items-center overflow-hidden overflow-ellipsis whitespace-nowrap rounded-sm border border-gray-200 bg-gray-100 pl-1 pr-1 leading-8;
}

.multi-item.disabled {
	@apply hover:bg-gray-300 hover:text-gray-500;
}

.multi-item-clear {
	@apply flex w-5 items-center justify-center;
}

.list-item {
	@apply list-none;
}
